header {
    text-align: center;
    background-color: #0e4a55;
    color: white;
    padding: 10px;
  }

  main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  #dragon,
  #hero {
    text-align: center;
  }

  meter {
    width: 100%;
  }

  #comand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & button {
      padding: 10px;
      margin: 5px;
      width: 100px;
      border-radius: 0.5rem;
      background-color: #0e4a55;
      color: #fff;
      cursor: pointer;
    }
  }

  #battle-log {
    overflow: auto;
    height: 300px;
    border: 1px solid #000;
    padding: 0.5rem;
    border-radius: 10px;
    &::-webkit-scrollbar {
        width: 10px;
    }
}